<!DOCTYPE html>
<html lang="en" dir="ltr">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        $(function() {
            $('#circle-object').bind('click', function() {
            $("#circle-object").html('Get Ready...'); 
            $.getJSON('/bot',
                function(data) {
                    //nothing will work
            });
            return false;
            });
        });
    </script>  
  <body>
    {% extends "template.html" %}
    {% block startbutton %}
    <!-- <form action="/botintro" method="post"> -->
    <button class="request-loader" id="circle-object">{{ buttonName }}</button>
    <!-- </form> -->
    {% endblock %}
</body>
</html>