<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>Edge.Fit</title>
   <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script> 
 </head>
 <body>
    <header>
      <div class="overlay">
      <h1>Microsoft Edge.Fit</h1>
      <h3>Personal Trainer On the Edge</h3>
      <p>Our mission is to empower every person and effictively every organisation on the planet to be more fit.</p>
        <br>
        <button class="morebutton"><a href="https://github.com/mayankagg9722/MSFTGaradge-IOTEdge-SmartGym">READ MORE</a></button>
          </div>
      </header>
      <div id="conversations" ></div>
      <div style="text-align: center">
      <button class="request-loader" id="circle-object">Start Training</button>
      <!-- {% block startbutton %}
      {% endblock %} -->
      </div>
 </body>
 </html>