<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>Edge.Fit</title>
   <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
 </head>
 <body>
    <header>
      <div class="overlay">
      <h1>Microsoft Edge.Fit</h1>
      <h3>Personal Trainer On the Edge</h3>
      <p>Our mission is to empower every person and effictively every organisation on the planet to be more fit.</p>
        <br>
        <button class="morebutton"><a href="https://github.com/mayankagg9722/MSFTGaradge-IOTEdge-SmartGym">READ MORE</a></button>
          </div>
      </header>
      <!-- {% for botanswer in botanswers %}
      <p style="color: wheat;margin: 0px;">{{ botanswer }}</p>
      {% endfor %} -->
      <div style="text-align: center">
      {% block startbutton %}
      {% endblock %}
      </div>
 </body>
 </html>